@using Devita.Services;
@using Microsoft.AspNetCore.Identity;
@inject LayoutService service
@inject UserManager<AppUser> userManager;

@{
    List<Setting> settings = await service.GetSettings();
    BasketViewModel headerBasket = await service.GetBasket();
    List<Category> categories = await service.GetCategories();
    AppUser user = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--Icon-->
    <link rel="icon" href="~/assets/image/icons8-headphones-64.png" type="image/x-icon">

    <!--Fonts CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!--Bootstrap Css CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Owl carousel CSS-->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">

    <!--Flexslider CSS-->
    <link rel="stylesheet" href="~/assets/css/flexslider.css">
    <link rel="stylesheet" href="~/assets/css/flexslider-rtl-min.css">
    <link rel="stylesheet" href="~/assets/css/flexslider-rtl.css">

    <!--Toaster-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!--Custom Css-->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/plugins.css">

    <title>Devita</title>
</head>

<body>

    <!--Header start-->
    <header>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center justify-content-md-start justify-content-center">
                        <ul class="language">
                            <li>
                                <a href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Language:
                                    English<i class="fas fa-chevron-down"></i>
                                </a>

                                <ul>
                                    <li>
                                        <a href="#">
                                            French
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            German
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Italians
                                        </a>
                                    </li>
                                </ul>
                            </li>


                        </ul>

                        <ul class="currency">
                            <li>
                                <a href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Currency:
                                    USD<i class="fas fa-chevron-down"></i>
                                </a>

                                <ul>
                                    <li>
                                        <a href="#">
                                            EURO
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            RUB
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            GBP
                                        </a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center justify-content-md-end justify-content-center">
                        <ul class="d-flex top-menu">
                            <li>
                                <a href="#">
                                    Checkout
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Cart
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Wishlist
                                </a>
                            </li>

                            <li class="register-sign-in">
                                @if (User.Identity.IsAuthenticated && user != null && user.IsAdmin==false)
                                {
                                    <a href="#" class="register-sign-in2"><span class=" d-flex align-items-center"><i class='bx bx-user-circle pe-2  d-flex align-items-center' style="font-size: 20px;"></i>@User.Identity.Name</span></a>
                                }


                                else
                                {
                                    <a asp-controller="Account" asp-action="SignIn" class="">
                                        Register or Sign In

                                    </a>
                                }

                                @if (User.Identity.IsAuthenticated && user != null && user.IsAdmin==false)
                                {
                                    <ul class="">
                                        <li>
                                            <a asp-controller="account" asp-action="profile"><i class="fas fa-user-circle pe-2"></i>Profile</a>
                                        </li>

                                        <li>
                                            <a asp-controller="account" asp-action="logout"><i class="fas fa-sign-out pe-2"></i>Log out</a>
                                        </li>
                                    </ul>
                                }


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 d-flex justify-content-lg-start justify-content-center">
                        <div class="logo-image">
                            <a asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/assets/image/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 d-flex">
                        <div class="row">
                            <div class="col-lg-5 col-md-12 d-flex align-items-center justify-content-lg-start justify-content-center">
                                <div class="call d-flex">
                                    <div class="image">
                                        <img class="img-fluid" src="~/assets/image/headphone_icon.png" alt="">
                                    </div>

                                    <div class="text">
                                        <p>Call us</p>
                                        <p>@settings.FirstOrDefault(x => x.Key == "CallUs")?.Value</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 d-flex align-items-center justify-content-lg-end justify-content-center">
                                <div class="search">
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Search product..."
                                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                                    id="button-addon2">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <partial name="_BasketPartial" model="headerBasket" />
                            <!--<div class="col-lg-2 col-md-12 d-flex align-items-center justify-content-lg-start justify-content-center">
                                <div class="order position-relative">
                                    <a href="/cart.html" class="order-text position-relative">
                                        <i class='bx bxs-shopping-bag-alt'></i>$0.00 <i class="ps-1 fa-solid fa-angle-down"></i>
                                        <span class="order-badge position-absolute py-1 px-2 top-0 translate-middle rounded-circle">
                                            <span class="visually count">0</span>
                                        </span>
                                    </a>

                                    <div class="shopping-cart position-absolute">
                                        <div class="shopping-cart-header">
                                            <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
                                            <div class="shopping-cart-total">
                                                <span class="lighter-text">Total:</span>
                                                <span class="main-color-text">$2,229.97</span>
                                            </div>
                                        </div>-->
                            <!--end shopping-cart-header -->
                            <!--<ul class="shopping-cart-items">
                                    <li class="clearfix d-flex">
                                        <img width="20%" height="20%" src="~/assets/image/24-300x300.jpg"
                                             alt="item1" />
                                        <div class="price-prdname p-3">
                                            <span class="item-name">Sony DSC-RX100M III</span>
                                            <span class="item-price">$849.99</span>
                                            <span class="item-quantity">Quantity: 01</span>
                                        </div>
                                    </li>

                                    <li class="clearfix d-flex">
                                        <img width="20%" height="20%" src="~/assets/image/17.jpg" alt="item1" />
                                        <div class="price-prdname p-3">
                                            <span class="item-name">Sony DSC-RX100M III</span>
                                            <span class="item-price">$849.99</span>
                                            <span class="item-quantity">Quantity: 01</span>
                                        </div>
                                    </li>


                                </ul>

                                <a href="#" class="button">Checkout</a>
                            </div>-->
                            <!--end shopping-cart -->
                            <!--end container -->
                            <!--</div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container p-0">
                            <a class="navbar-brand" href="#">Menu</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbarTogglerIcon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav navbar-menu">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="home" asp-action="index">
                                            HOME</i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">BLOG</a>
                                    </li>
                                    <li class="nav-item shop">
                                        <a class="nav-link" asp-controller="product" asp-action="shop">
                                            SHOP<i class="fa-solid fa-angle-down"></i>
                                        </a>

                                        <ul>
                                            @foreach (var item in categories)
                                            {
                                                <li>
                                                    <a asp-action="shop" asp-controller="product" asp-route-categoryId="@item.Id">@item.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile.html">PROFILE</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--Header end-->
    @RenderBody()

    @if (TempData["Error"] != null)
    {
        <input type="hidden" id="toaster-error" value="@TempData["Error"]" />
    }
    @if (TempData["Success"] != null)
    {
        <input type="hidden" id="toaster-success" value="@TempData["Success"]" />
    }
    <!--Brands slider start-->
    <section id="brand-slider">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme owl-carousel-brand">
                    <div class="item">
                        <img src="~/assets/image/br1.png" alt="">
                    </div>

                    <div class="item">
                        <img src="~/assets/image/br2.png" alt="">
                    </div>

                    <div class="item">
                        <img src="~/assets/image/br3.png" alt="">
                    </div>

                    <div class="item">
                        <img src="~/assets/image/br4.png" alt="">
                    </div>

                    <div class="item">
                        <img src="~/assets/image/br5.png" alt="">
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--Brands slider end-->
    <!--Footer start-->
    <footer>
        <div class="container">
            <div class="row services">
                <div class="col-lg-4 col-md-12">
                    <div class="text first-service">
                        <div class="content">
                            <div class="title">
                                <h3>Free Shipping</h3>
                            </div>

                            <div class="desc">
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="text">
                        <div class="content">
                            <div class="title">
                                <h3>Free Shipping</h3>
                            </div>

                            <div class="desc">
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="text">
                        <div class="content">
                            <div class="title">
                                <h3>Free Shipping</h3>
                            </div>

                            <div class="desc">
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer-menu">
                <div class="col-lg-4 col-md-12 about-us">
                    <div class="title">
                        <h3>About Us</h3>
                    </div>

                    <div class="desc">
                        <p>
                            We are a team of designers and developers that create high quality Magento, Prestashop,
                            Opencart [...].<br>
                            <a class="view-map" href="#"><i class="fas fa-map-marker-alt"></i>View on map</a>
                        </p>
                    </div>

                    <div class="footer-social-media">
                        <ul class="d-flex">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>

                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li class="instagram">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>

                            <li class="google">
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>

                            <li class="rss">
                                <a href="#">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </li>

                            <li class="dribbble">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>

                            <li class="vimeo">
                                <a href="#">
                                    <i class="fab fa-vimeo-v"></i>
                                </a>
                            </li>

                            <li class="pinterest">
                                <a href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>

                            <li class="skype">
                                <a href="#">
                                    <i class="fab fa-skype"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 information">
                    <div class="content">
                        <div class="title">
                            <h3>Information</h3>
                        </div>
                        <div class="information-menu">
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>

                                <li>
                                    <a href="#">Services</a>
                                </li>

                                <li>
                                    <a href="#">Shop</a>
                                </li>



                                <li>
                                    <a href="#">Contact 2</a>
                                </li>

                                <li>
                                    <a href="#">Return Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 my-account">
                    <div class="content">
                        <div class="title">
                            <h3>My Account</h3>
                        </div>
                        <div class="account-menu">
                            <ul>
                                <li>
                                    <a href="#">My Account</a>
                                </li>

                                <li>
                                    <a href="#">Cart</a>
                                </li>

                                <li>
                                    <a href="#">Checkout</a>
                                </li>

                                <li>
                                    <a href="#">Contact</a>
                                </li>

                                <li>
                                    <a href="#">Validation</a>
                                </li>

                                <li>
                                    <a href="#">Wishlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 contact-us">
                    <div class="content">
                        <div class="contact-us-menu">
                            <div class="title">
                                <h3>Contact Us</h3>
                            </div>

                            <div class="desc">
                                <p>
                                    Address: 123 Main Street, Anytown, CA 12345 - USA.<br>
                                    Telephone Enquiry: (012) 800 456 789-987<br>
                                    Email: Contact@plazathemes.com
                                </p>
                            </div>
                        </div>

                        <div class="opening-time">
                            <div class="title">
                                <h3>Opening Time</h3>
                            </div>

                            <div class="desc">
                                <p>
                                    Open: <strong>8:00 AM</strong> - Close: <strong>18:00 PM</strong><br>Saturday -
                                    Sunday: Close
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row menu-link-1">
                <div class="d-flex justify-content-center">
                    <ul class="d-flex flex-wrap">
                        <li>
                            <a href="#">
                                Online Shopping
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Promotions
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                My Orders
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Help
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Customer Service
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Support
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Most Populars
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                New Arrivals
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Special Products
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Manufacturers
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Our Stores
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row menu-link-2">
                <div class="d-flex justify-content-center">
                    <ul class="d-flex flex-wrap">
                        <li>
                            <a href="#">
                                Shipping
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Payments
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Warantee
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Refunds
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Checkout
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Discount
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Terms & Conditions
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Policy Shipping
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Returns
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Refunds
                            </a>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="row payment justify-content-center">
                <div class="payment-image mt-5">
                    <img src="~/assets/image/payment.png" width="100%" height="100%" alt="">

                </div>
            </div>


        </div>
    </footer>
    <!--Footer end-->
    <!--Copyright start-->
    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="text">
                    <p>
                        @settings.FirstOrDefault(x => x.Key == "Copyright")?.Value

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--Copyright end-->
    <!--Bootstrap JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

    <!--JQuery CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!--Owl carousel JS-->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <!--Toaster-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {
            if ($("#toaster-error").length) {
                console.log($("#toaster-error"))
                toastr["error"]($("#toaster-error").val())
            }
            if ($("#toaster-success").length) {
                console.log($("#toaster-success"))
                toastr["success"]($("#toaster-success").val())
            }
        })
    </script>



    @RenderSection("Scripts", required: false)



    <!--Custom JS-->
    <script src="~/assets/js/main.js"></script>
</body>

</html>
