
@{
    ViewData["Title"] = "Comments";
    var count = 0;
}

@model List<ProductComment>

<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Comment datatable</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fullname</th>
                                    <th>Product name</th>
                                    <th>Text</th>
                                    <th>Rate</th>
                                    <th>Status</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (ProductComment item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Product.Name</td>
                                        <td>@(item.Text==null || item.Text.Length<=250?item.Text:item.Text.Substring(0,250)+"...")</td>
                                        <td>@item.Rate</td>
                                        <td><span class="badge badge-@(item.Status?"success":"info")">@(item.Status?"Təsdiqlənib":"Gözləmədədir")</span></td>

                                        <td>
                                            <div class="d-flex">
                                                <a asp-controller="product" asp-action="edit" asp-route-Id="@item.Id" class="btn shadow btn-xs sharp me-1" style="background-color: #007BFF;"><i class="fas fa-info" style="color: white;"></i></a>
                                                <a asp-controller="product" asp-action="DeleteComment" asp-route-id="@item.Id" class="btn btn-danger shadow btn-xs sharp delete-btn"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/manage/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/manage/js/main.js"></script>
    <script src="~/manage/js/plugins-init/datatables.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}

