
@{
    ViewData["Title"] = "Delete";
}

@model Product

<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-text"></i>Delete product</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Name</h2>
                            <p>@Model.Name</p>
                        </div>
                        <div class="col-lg-6">
                            <h2>Description</h2>
                            <p>@Model.Description</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Category</h2>
                            <p>@Model.Category.Name</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <h2>Cost price</h2>
                            <p>@Model.CostPrice</p>
                        </div>

                        <div class="col-lg-4">
                            <h2>Sale price</h2>
                            <p>@Model.SalePrice</p>
                        </div>

                        <div class="col-lg-4">
                            <h2>Discount percent</h2>
                            <p>@Model.DiscountPercent%</p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-4">
                            <h2>Stock</h2>
                            @if (Model.StockStatus)
                            {
                                <p>In Stock</p>
                            }

                            else
                            {
                                <p>Out Stock</p>
                            }
                        </div>

                        <div class="col-lg-4">
                            <h2>New</h2>
                            @if (Model.IsNew)
                            {
                                <p>True</p>
                            }
                            else
                            {
                                <p>false</p>
                            }
                        </div>

                        <div class="col-lg-4">
                            <h2>Featured</h2>
                            @if (Model.IsFeatured)
                            {
                                <p>True</p>
                            }

                            else
                            {
                                <p>False</p>
                            }
                        </div>

                        <div class="col-lg-4">
                            <h2>Top Rate</h2>
                            @if (Model.IsTopRate)
                            {
                                <p>True</p>
                            }

                            else
                            {
                                <p>False</p>
                            }
                        </div>

                        <div class="col-lg-4">
                            <h2>Best</h2>
                            @if (Model.IsBest)
                            {
                                <p>True</p>
                            }

                            else
                            {
                                <p>False</p>
                            }
                        </div>

                        <div class="col-lg-4">
                            <h2>Top Headphone</h2>
                            @if (Model.IsTopHeadphone)
                            {
                                <p>True</p>
                            }

                            else
                            {
                                <p>False</p>
                            }
                        </div>

                        

                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Poster image</h2>
                            <img src="~/uploads/products/@Model.ProductImages.FirstOrDefault(x => x.PosterStatus==true)?.Image" />
                        </div>
                        <div class="col-lg-6">
                            <h2>Hover image</h2>
                            <img src="~/uploads/products/@Model.ProductImages.FirstOrDefault(x => x.PosterStatus==false)?.Image" />
                        </div>
                    </div>

                    <div class="row d-flex">
                        <h2>Product images</h2>
                        @foreach (var item in Model.ProductImages.Where(x => x.PosterStatus==null))
                        {
                            <img style="width: 20%;" src="~/uploads/products/@item?.Image" />
                        }
                    </div>
                </div>

                <div class="card-footer">
                    <form asp-action="delete" method="post">
                        <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
                        <button type="submit" style="background-color: red; border: none; box-shadow: none; font-family: 'Rubik' , sans-serif; font-weight: 500; font-size: 20px; padding: 8px 10px; border-radius: 0.5rem; color: #FFFFFF;">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>